.weather{
    /* background: url("WeatherApp.jpg"); */
    color: aliceblue;
    background-size: 100%;
    height: 13rem;
    width: 100% ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat : no-repeat ;
    background-position-x: center;
  }



  .myCard{
    width: 30rem; 
    height: 20rem;
    align-items: center;
    justify-content: center;
  }

  .bgColor{
    background-color: #76cff0;
    background: url("WeatherApp.jpg");
    /* background-position: center; */
    background-size: cover;

    /* background-color: black; */

  }

  .bgColorWhite{
    /* background-color: white; */
    background-color: #e1f7ff;

  }

  .aboutBG{
    background-color: #254c5b;
color: aliceblue;
background: transparent;

  }

 .aboutFooter{
  background-color: #dba4d2;
  color: rgb(249, 250, 251);
  background: transparent;
  text-shadow: #0202c8;
 }

 .onHover :hover {
  background-color: #254c5b;
  color: aliceblue;
  cursor: pointer;

 }